h1 {
    text-align: center;
    color: pink;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: white;
}
P {
    color:pink;
    text-align: center;
}
img{
    width: 500px;
    display: block;
    margin: auto;
    size: 20px;
}

a{
    color:hotpink;
    border-radius: 20px;
    background-color: pink;
    text-decoration: none;

}
ol{
    color: hotpink;
    text-align: center;
}

li{
    list-style-position: inside;
}

#id1{
    border: solid pink 3px;
}
.borda{
    border:solid pink 10px;
    text-align: center;
}
   
#id2{
    font-size: 22px;
    font-weight: bold;
}

h3{
    color: palevioletred;
    text-align: center;
}

.spotify{
    width: 352px;
    height: 352px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position:fixed;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: bold;
    font-family: Verdana;
    background-size: cover;
    background-repeat: no-repeat;
}

.ancora{
    display: inline;
    left: 0%;
    text-decoration: none;
    color: pink;
    font-size: 18px;
}