h1{
    color: rgb(245, 76, 169);
    text-align: center;
    font-size: 3vh;
    font-style: "cambria";
}
p{
    text-align: center;
    font-size: 3vh;
    margin-left: 20vw;
    margin-right: 20vw;
    color: rgb(245, 76, 169);
}
img{
    border-radius: 10px;
    border: solid, rgb(245, 76, 169), 2px;
    width: 40vh;
    display: block;
    margin: auto;
}
iframe{
    width: 60vh;
    height: 80vh;
    display: block;
    margin: auto;
}
body{
    background-color: rgb(255, 246, 254);
}
