h1{
    color: rgb(245, 76, 169);
    text-align: center;
    font-size: 5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    text-align: center;
    font-size: 3vh;
    margin-left: 20vw;
    margin-right: 20vw;
    color: rgb(245, 76, 169);
}
img{
    border-radius: 10px;
    border: solid, rgb(245, 76, 169), 2px;
    width: 40vh;
    display: block;
    margin: auto;
}
iframe{
    width: 60vh;
    height: 35vh;
    display: block;
    margin: auto;
}

body{
    background-color: rgb(255, 246, 254);
}

h2{
    color: rgb(245, 76, 169);
    text-align: left;
    font-size: 2vh;
    font-style: "cambria";
}

#card2{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5%;
    margin-top: 0%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.borda{
    border: solid, rgb(245, 76, 169);
    text-align: center;
}

.musica{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 5%;
    margin-bottom: 20px;
}

.mu{
    width: 40%;
}

caption{
    text-align: center;
    color: black;
    font-size: 3vh;
    font-family: 'Papyrus';
    font-weight: bold;
}
table{
    border-collapse: collapse;
    border: solid, 1px, rgb(1, 1, 92);
    background-color:  rgb(245, 76, 169);
    width: 40vw;
    min-width: 300px;
    min-height: 350px;
    max-width: 40vw;
    max-height: 40vw;
    height: 50vh;
    margin: auto;
    table-layout: fixed;
    margin-bottom: 20px;
}
thead{
    height: 5vh;
    background-color:  rgb(255, 151, 231);
}
td{
    border: solid, 1px, rgb(155, 0, 121);
    text-align: center;
    height: 3vh;
    font-family: 'Courier New';
}
th{
    font-family: 'Papyrus' ;
    border: solid, 1px,  rgb(255, 130, 199);
}
tr{
    border: solid, 1px, rgb(255, 129, 198);
}
table tr:nth-child(even){
    background-color:   rgb(255, 201, 242);
}
tfoot td{
    text-align: right;
    padding-right: 1%;
}

.imagem{
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;
}

.spo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
