:root {
    --cor1: white;
    --cor2: #FFA4EB;
    --cor3: #FBD1FF;
    --cor4: #B6005BD6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(#FBD1FF 0%, #FFA4EB 100% );
    padding: 20px 30px;
    border-radius: 15px;
    width: 600px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    display: block;
}

h2 {
    color: var(--cor4);
    font-family: "Coiny", system-ui;
    margin-bottom: 20px;
    font-size: 24px;
}

.sections {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.section {
    width: 48%;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h3 {
    color: var(--cor4);
    font-family: "Coiny", system-ui;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

label {
    display: flex;
    align-items: center;
    color: #333;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
}

input[type="radio"] {
    margin-right: 8px;
}

input[type="file"] {
    display: none;
}

.upload label{
    display: flex;
    flex-direction: column;
}

.timeline {
    position: relative;
    margin: 20px 0;
    padding-left: 20px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.timeline-item .circle {
    width: 12px;
    height: 12px;
    background-color: #666;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.timeline-item span {
    font-size: 14px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.cancel {
    background-color: var(--cor5);
    color: var(--cor4);
}

.confirm {
    background-color: var(--cor5);
    color: var(--cor4);
}

button:hover{
    transform: scale(1.04);
    color: var(--cor3);
} 

.image{
    display: none;

}

.fotoinput{
    width: 2vw;
    min-width: 25px;
    display: flex;
    align-items: normal;
}

#filee{
   font-family: "Coiny", system-ui;
   color: var(--cor4);
   font-size: 2vh;
}

#file label{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Coiny", system-ui ;
    padding: 1%;
}

#file input{
    width: 10vw;
}