:root {
    --cor1: white;
    --cor2: #FFA4EB;
    --cor3: #FBD1FF;
    --cor4: #B6005BD6;
}

footer {
    background-color: #FFA4EB;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

#contatofooter {
    font-size: 20px;
    color: rgb(175, 36, 129);
    display: flexbox;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

footer nav ul li{
    margin: auto;
    display: block;
}

#contatofooter:hover {
    color: var(--cor1);
}

#direitosfooter {
    font-size: 20px;
    color: rgb(175, 36, 129);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    padding: 15px;
}

.informacaoFooter{
    font-size: 23px;
    color: var(--cor4);
    font-weight: bold;
    margin-left: 7px;
}

.miniInformacao{
    font-size: 16px;
    color: var(--cor4);
}

.iconesFooter{
    width: 25px;;
    border-radius: 50%;
    margin-right: 5px;
}

.displayInformacao{
    display: flex;
    align-items: center;
    padding: 5px;
}

#instagram{
    text-decoration: none;
    color: var(--cor4);
}

.cardFooter{
    text-align: left;
    margin: 20px;
}

#todasAsInformacoesFooter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

#divLocalizacao{
    margin-top: 5px;
}