footer {
    background-color: rgb(245, 76, 169) ;
    color: rgb(4, 71, 158);
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}

footer p{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}