:root {
    --cor1: white;
    --cor2: #FFA4EB;
    --cor3: #FBD1FF;
    --cor4: #B6005BD6;
}


body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f5;
    font-family: Arial, sans-serif;
  }
  
  .caixa {
    width: 280px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(#FBD1FF 0%, #FFA4EB 100% );
    text-align: center;
    display: block;
    margin: auto;
  }
  
  .mensagem {
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    color: #000000;
  }
  
  .icone {
    font-size: 24px;
  }
  
  .agradecimento {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
  }
  
  .botao {
    background-color: var(--cor5);
    border: none;
    padding: 10px 20px;
    color: var(--cor4);
    border-radius: 8px;
    margin: auto;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
  }

 .botao:hover {
    transform: scale(1.04);
    color: var(--cor3);
}
  